*,
*::before,
*::after {
  box-sizing: border-box;
}


body, h1, h2, h3, h4, p, ul, ol {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}


button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

body {
  line-height: 1.4;
}